@font-face{
    font-family: 'conteudo';
    src: url(./Rokkitt-Regular.ttf);
}
@font-face{
    font-family: 'titulo';
    src: url(./Courgette-Regular.ttf);
}
$fonte-conteudo:'conteudo';
$fonte-principal:'titulo';