@font-face {
    font-family: 'item lista';
    src: url(./JosefinSans-Regular.ttf);
}
@font-face {
    font-family: 'principal';
    src: url(./PermanentMarker-Regular.ttf);
}


$fonte-lista:'item-lista';
$fonte-principal:'principal';